.nav-tabs {
    background:url("..images/menuBG.jpg");
    color:royalblue;
    /*background: #3B434D;*/
}
body{
    /*background: url("..images/background.jpg") center;*/
}
#editProfilePageButtonWrapper{

}
#editProfilePageButton{
   /* position:absolute;*/
    top:50%;
}
.dot {
    margin-top: 13px;
    margin-right: 10px;
    float: left;
    width: 20px;
    border-radius: 40px;
    background-color: #019c8c;
}

.title {
    font: 32px Oswald;
    font-weight: 600;
}
.comment-dot{
    float:left;
    width:10px;
    bordder-radius:20px;
    background-color:red;
}
#comment-content{
    font-size:1.2em;
}
#comment-info{
    font-size: 0.8em;
}

.subtitle {
    font: 16px Lato;
    font-weight: 100;
    margin-left: 3%;
}

.content {
    padding-top: 2.5%;
    font:16px Lato;
    font-size:1.8em;
    font-weight: 500;
    width: 80%;
    margin-left: 3%;
    word-wrap: break-word;
}
.single-post {
    margin-bottom: 5%;
}
.blog-title {
    width: 120px;
    font: 54px Oswald;
    font-weight: 600;
    margin: 0 auto 50px;
    color: #565656;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 8px solid #019c8c;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #FFFFFF;
}

#loader {
    position: fixed;
    top: 35%;
    left: 45%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #06C0AB;
    border-bottom: 16px solid #06C0AB;
    width: 120px;
    height: 120px;
    -webkit-animation: first-spin 4s linear infinite;
    animation: first-spin 4s linear infinite;
}

#loader-2 {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #06C0AB;
    border-bottom: 10px solid #06C0AB;
    width: 100px;
    height: 100px;
    -webkit-animation: second-spin 4s linear infinite;
    animation: second-spin 4s linear infinite;
}

#loader-3 {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #06C0AB;
    border-bottom: 10px solid #06C0AB;
    width: 80px;
    height: 80px;
    -webkit-animation: second-spin 4s linear infinite;
    animation: second-spin 4s linear infinite;
}

#loader-4 {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #06C0AB;
    border-bottom: 10px solid #06C0AB;
    width: 60px;
    height: 60px;
    -webkit-animation: second-spin 4s linear infinite;
    animation: second-spin 4s linear infinite;
}

#loader-5 {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #06C0AB;
    border-bottom: 10px solid #06C0AB;
    width: 40px;
    height: 40px;
    -webkit-animation: second-spin 4s linear infinite;
    animation: second-spin 4s linear infinite;
}

@-webkit-keyframes first-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes first-spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}

@keyframes first-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes second-spin {
    0% { -webkit-transform: rotate(0deg); }
    25% { -webkit-transform: rotate(180deg); }
    50% { -webkit-transform: rotate(360deg); }
    75% { -webkit-transform: rotate(180deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes second-spin {
    0% { -moz-transform: rotate(0deg); }
    25% { -moz-transform: rotate(180deg); }
    50% { -moz-transform: rotate(360deg); }
    75% { -moz-transform: rotate(180deg); }
    100% { -moz-transform: rotate(0deg); }
}

@keyframes second-spin {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(180deg); }
    50% { transform: rotate(360deg); }
    75% { transform: rotate(180deg); }
    100% { transform: rotate(0deg); }
}