<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation"><a href="#/" aria-controls="home" role="tab">Home</a>
    </li>
    <li role="presentation"><a href="#/profile" aria-controls="profile" role="tab">Profile</a></li>
    <li role="presentation"><a href="#/posts/create" aria-controls="blogPost" role="tab">Create new
        post</a></li>
    <li role="presentation"><a href="#/logout" aria-controls="logout" role="tab">Logout</a></li>
</ul>
<main class="main-content">
    <header class="blog-title">
        <h1>Home</h1>
    </header>
    <ul class="blogPost" id="blogPost">

    </ul>
    <div id="profilePage" class="profilePage">

    </div>
    <footer>
        Some random text
    </footer>
</main>