<form id="createPostForm">
    <div class="form-group-lg">
        <label for="blogTitle" class="form-control-static">Title</label>
        <input type="text" id="blogTitle" class="form-control" placeholder="Title"/>
        <label for="blogContent" class="form-control-static">Content</label>
        <textarea id="blogContent" class="form-control" placeholder="Write your post here" rows="10"/>
        <br>
        <button type="button" id="createPostButton" class="btn btn-lg">Submit your post</button>
    </div>
</form>
<footer>

</footer>