<aside class="menu">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li id="homeTab" role="presentation" class="active"><a href="#" aria-controls="home" role="tab">Home</a></li>
        <li id="profileTab" role="presentation"><a href="#/profile" aria-controls="profile" role="tab">Profile</a></li>
        <li id="logoutTab" role="presentation"><a href="#/logout" aria-controls="logout" role="tab">Logout</a>
    </ul>
</aside>
<main class="main-content">
    <header class="blog-title">
        <h1>Home</h1>
    </header>
    <ul id="blogPost" id="blogPost">
    </ul>
    <footer>
        <p>Stefan ivanov creation</p>
    </footer>
</main>