<aside class="menu">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li id="homeTab" role="presentation"><a href="#/" aria-controls="home" role="tab" data-target="#/home">Home</a>
        </li>
        <li id="loginTab" role="presentation"><a href="#/login" aria-controls="login" role="tab" data-target="#/login">Login</a>
        </li>
        <li id="registerTab" role="presentation"><a href="#/register" aria-controls="register" role="tab"
                                                    data-target="#/register">Register</a>
    </ul>
</aside>
<main class="main-content">
    <header class="blog-title">
        <h1>Home</h1>
    </header>
    <ul id="blogPost" id="blogPost">
    </ul>
    <footer>
        <p>Stefan ivanov creation</p>
    </footer>
</main>