{{#blogPosts}}
<li class="single-post">
    <article id="post-{{postId}}">
        <div class="dot">&nbsp;</div>
        <h3 class="title">{{title}}</h3>
        <p class="subtitle">Posted on {{date}} by {{author}}</p>
        <p class="content">{{content}}</p>
        <div class="main-content">
            <ul class="commentsSection" id="commentsSection">

            </ul>
        </div>
        <form>
            <label for="comment-{{postId}}" class="form-control-static">Write a comment</label>
            <textarea id="comment-{{postId}}" class="form-control" id="commentTextArea" cols="10" rows="5">
            </textarea>
        </form>
    </article>
</li>
{{/blogPosts}}