<div id="editProfilePage">
<form id="editProfileForm">
    <input type='file' onchange="readURL(this);" />
    <img class="img-rounded" id="profileImg" src="#" alt="your image" />
    <label for="firstName">First name:</label>
    <input id="firstName" type="text" class="form-control"/>
    <label for="lastName">First name:</label>
    <input id="lastName" type="text" class="form-control"/>
    <label for="pickGender">Gender</label>
    <div id="pickGender" class="panel">
        <input type="radio" value="m">Male<br>
        <input type="radio" valu="f">Female<br>
    </div>
    <button class="btn btn-lg" type="button" id="submitEditProfilePage">Submit changes</button>
</form>
</div>
