<form id="registerForm">
    <div class="form-group-lg">
        <label for="username" class="form-control-static">Username:</label>
        <input type="text" class="form-control" id="username"/>

        <label for="password" class="form-control-static">Password:</label>
        <input type="text" class="form-control" id="password"/>

        <label for="confirmPwd" class="form-control-static">Confirm password:</label>
        <input type="text" class="form-control" id="confirmPwd"/>
        <br>
        <button type="button" id="registerBtn" class="btn btn-lg">Register</button>
    </div>
</form>